<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sepidehmiller.jokedisplay"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- https://developer.android.com/training/sharing/receive-->
  <application>
    <activity android:name=".JokeDisplayActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
  </application>

</manifest>